.write-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 180px;
  width: 100%;
  max-width: 1086px;
  margin: 0 auto;
}

.write-title {
  margin-left: 10px;
  padding-bottom: 34px;
  font-size: 40px;
  font-family: 'Pretendard Bold';
  color: var(--color-bright-text);
}

.write-form {
  display: flex;
  flex-direction: column;
}

.write-form label {
  margin: 0 0 16px 10px;
  font-size: 24px;
  font-family: 'Pretendard SemiBold';
  color: #3e3e3e;
}
.write-form input[type='text'],
.write-form input[type='number'],
.write-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 34px;
  font-size: 18px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}

.write-form input[type='number'],
.write-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 34px;
  font-size: 18px;
  padding: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}

.write-form input[type='text']::placeholder,
.write-form textarea::placeholder {
  color: #c1c1c1;
}

.input-title {
  height: 68px;
  border-color: #c1c1c1;
  padding: 0 20px;
}

.input-content {
  aspect-ratio: 1 / 1;
}

.write-form input:focus,
.write-form textarea:focus {
  border-color: #adadad;
  outline: none;
}

.write-form input[readonly] {
  cursor: not-allowed;
}

.write-form input[type='content'] {
  height: 200%;
}

.file-button {
  cursor: pointer;
  width: 90px;
  height: 30px;
  margin: 0 !important;
  padding: 10px 15px;
  background-color: #c1c1c1;
  color: white !important;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  text-align: center;
  font-size: 20px !important;
  font-family: 'Pretendard Bold';
}

.file-button:hover {
  background-color: #adadad;
}

.file-input {
  display: none;
}
.file-list {
  list-style: none;
}

.file-item {
  background: #f4f4f4;
  border-radius: 5px;
  padding: 0;
  font-size: 14px !important;
}

.remove-button {
  color: black;
  border: none;
  padding: 3px 7px;
  border-radius: 50%;
  cursor: pointer;
}

.submit-button {
  margin: 0 auto;
  margin-top: 40px;
  font-size: 24px;
  font-family: 'Pretendard Bold';
  height: 68px;
  width: 46%;
  background-color: #2cb4db;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: #2295ba;
}
