.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.activity-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
  p {
    flex-basis: 100%;
    margin-left: 0;
    font-size: 40px;
    font-family: 'Pretendard Bold';
    color: var(--color-bright-text);
  }
}

.notice-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
  p {
    flex-basis: 100%;
    margin-left: 3rem;
    margin-bottom: 4rem;
    font-size: 40px;
    font-family: 'Pretendard Bold';
    color: var(--color-bright-text);
  }
}

.link {
  text-decoration: none;
  color: var(--color-bright-text);
  &:hover {
    color: var(--color-primary);
  }
}

.activity-block {
  width: 90%;
  height: 30rem;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  padding-top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    scale: 120%;
  }
}
