.project-section {
  display: flex;
  flex-direction: column; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 각 아이템 사이 여백을 고르게 배치 */
  flex-wrap: wrap; /* 아이템이 넘칠 경우 줄바꿈 */
  padding-top: 115px;
  padding-bottom: 180px;
  width: 100%;
  max-width: 1086px;
  margin: 0 auto;
}

.project-section p {
  font-size: 40px;
  font-weight: 700;
  color: #5e5e5e;
  margin-left: 0;
}
