:root {
  --color-primary: #2CB4DB;
  --color-secondary: #BCEDFB;

  --color-dark-text: #3E3E3E;
  --color-bright-text: #5E5E5E;
  --color-placeholder-text: #C1C1C1;

  --color-dark-stroke: #C1C1C1;
  --color-bright-stroke: #D9D9D9;

  --color-background: #F0F0F0;

  --color-logo: #3FBBDE;

  --color-white: #FFFFFF;
};
