:root {
  --color-primary: #2cb4db;
  --color-secondary: #bcedfb;

  --color-dark-text: #3e3e3e;
  --color-bright-text: #5e5e5e;
  --color-placeholder-text: #c1c1c1;
  --color-brighter-text: #9b9b9b;

  --color-dark-stroke: #c1c1c1;
  --color-bright-stroke: #d9d9d9;

  --color-background: #f0f0f0;

  --color-logo: #3fbbde;

  --color-white: #ffffff;

  --color-error: #ff0000;

  --color-hover-white: #f1f1f1;
}
