/* Hello CRA */
.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1086px;
  padding: 0 50px 194px;
  margin: 0 auto;
  margin-top: 1rem;
}

.detail-content {
  width: 100%;
  background-color: white; /* 테스트용 배경색 */
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  padding: 18px;
}

.content-body {
  min-height: 436px;
  margin-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
}

.divide-line {
  border: 1px solid lightgrey;
}

.link {
  color: #9b9b9b;
  cursor: pointer;
  margin-right: 4px;
}

.link:hover {
  color: var(--color-primary);
}

.fix-button {
  display: flex;
  margin-bottom: 10px;
  margin-left: auto;
}

.title {
  text-align: left;
  margin: 4px 13px 14px;
  line-height: 34px;
  color: #9b9b9b;
  font-size: 20px;
  font-family: 'Pretendard Medium';
}

.nav {
  display: flex;
  gap: 30px;
}

.nav-title {
  color: #9b9b9b;
  font-family: 'Pretendard Medium';
}

.nav-content {
  color: #5e5e5e;
  font-family: 'Pretendard SemiBold';
}

.content-title {
  margin-top: 18px;
  margin-bottom: 33px;
  color: #5e5e5e;
  font-size: 30px;
  font-family: 'Pretendard Bold';
  line-height: 59px;
}

.board-content {
  min-height: 200px;
}

.comment-count {
  display: flex;
  gap: 30px;
  margin-top: 138px;
  margin-bottom: 14px;
  font-size: 20px;
  color: #9b9b9b;
}
