/* HeaderIntro.module.css */
.header-intro {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 109px;
  background-color: rgb(0, 139, 199);
  z-index: 1000; /* 헤더가 다른 요소 위에 나타나도록 설정 */
  justify-content: space-between; /* 로고와 main()을 양쪽 끝에 배치 */
  align-items: center; /* 세로 정렬 */
  padding: 10px 20px; /* 헤더 내부 여백 */
}

.ul-intro {
  display: flex;
  align-items: center; /* 항목들을 세로로 중앙 정렬 */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between; /* 리스트 항목 간격을 양 끝으로 조정 */
}

.li-intro {
  display: flex;
  align-items: center;
}

.li-img {
  display: block; /* 이미지 주변에 여백 제거 */
}

.navbar-link {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
