.container {
  background-color: #050505;
}

.main {
  /* background: linear-gradient(
    #008bc7 0%,
    #2cb4db 33%,
    #79cfe8 67%,
    #bcedfb 100%
  ); */

  height: 66.5rem;
}

.section {
  position: relative; /* 부모 요소에 relative 위치 지정 */
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-style: normal;
  font-weight: 600;
  font-size: 3.125em;
  line-height: 150px;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin-bottom: -30px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Pixelify Sans Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 8.5vw;
  line-height: 150px;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.helloworld {
  background: linear-gradient(90deg, #2cb4db 0%, #e0f7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1650px) {
  .character1 {
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 317.42px;
    height: 299.78px;
  }

  .character2 {
    position: absolute;
    top: 12%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 262.88px;
    height: 248.278px;
  }

  .character3 {
    position: absolute;
    top: 13%;

    left: 83%;
    transform: translate(-50%, -50%);
    width: 262.51px;
    height: 247.92px;
  }

  .character4 {
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 326.58px;
    height: 308.44px;
  }
}
@media (max-width: 1649px) {
  .character1,
  .character2,
  .character3,
  .character4 {
    display: none !important;
  }
}

.recruit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00cfff;
  color: #e5f7fb;
  width: 40vw;
  font-size: 2.5vw;
  font-weight: bold;
  padding: 1rem 0rem;
  margin-top: 3rem;
  border-radius: 2rem;
  text-decoration: none;

  p {
    text-align: center;
  }
}

.vector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.25rem 0rem;
  img {
    width: 3.4375rem;
    height: 1.6875rem;
  }
}

.section2 {
  position: relative;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
}

.comment2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  color: #ffffff;
  margin-bottom: -700px;
}

.blur-round {
  width: auto;
  height: auto;
}

.cra {
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 6.5rem 0rem;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3.125rem;
  font-weight: bold;
  span {
    color: #13abd7;
  }
  p {
    color: #3e3e3e;
  }
}

#cap-letter {
  padding-left: 0.75rem;
}

.description {
  padding: 4.5rem 0rem;
  p {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding: 0.35rem 0rem;
  }
  span {
    background-color: #bae6f2;
  }
}

.content {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 19rem;
  aspect-ratio: 1 / 1;
  background-color: #f3f3f3;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}

#card-title {
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: bold;
  position: relative;
  top: 1.5rem;
}

#card-content {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  top: 3rem;
}

#card-content2 {
  display: flex;
  justify-content: center;
  font-size: 3.4375rem;
  font-weight: bold;
  position: relative;
  top: 2.5rem;
}

.club {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11rem;
}

.club-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  gap: 4rem; /* 카드와 이미지 간격 */
}

.club-card,
.club-card1 {
  display: flex;
  flex-direction: column;
  flex: 1; /* 카드와 이미지 균형 유지 */
}

.club-title {
  margin-bottom: 2rem;
}

.club-title p {
  color: #13abd7;
  font-size: 2.5vw;
  font-weight: bold;
  margin: 0.4rem 0;
}

.club-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.club-content1 {
  display: flex;
  flex-direction: column;
}

.club-content1 p {
  color: #3e3e3e;
  font-size: 1.5vw;
  font-weight: 500;
  margin: 0.3rem 0;
}

.club-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  width: 30vw;
  height: 22vw;
  user-select: none;
}

.club-image p {
  font-size: 1.5625rem;
  font-weight: bold;
}

.project {
  padding: 10rem 0rem;
  p {
    color: #ffffff;
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
  }
}
/* 태블릿 버전 (PC보다 작은) */
@media (max-width: 1460px) and (min-width: 1024px) {
  .helloworld {
    font-size: 8.5vw;
  }
  .comment {
    font-size: clamp(30px, 3.5vw, 3.5vw);
  }

  .banner {
    line-height: 10vw;
  }

  .comment2 {
    font-size: clamp(30px, 3vw, 3vw);
  }

  .title {
    font-size: 38px;
  }
  .description p {
    font-size: 24px;
  }

  #card-title {
    font-size: 20px;
  }
  #card-content,
  #card-content2 {
    font-size: 42px;
  }
  .club-image {
    width: 30vw;
    height: 22vw;
  }
}

/*테블릿 중간 단계*/
@media (max-width: 1024px) and (min-width: 768px) {
  .comment {
    font-size: clamp(30px, 3.5vw, 3.5vw);
  }

  .banner {
    line-height: 10vw;
  }

  .comment2 {
    font-size: clamp(30px, 3vw, 3vw);
  }

  .title {
    font-size: 38px;
  }
  .description p {
    font-size: 24px;
  }

  #card-title {
    font-size: 20px;
  }
  #card-content,
  #card-content2 {
    font-size: 42px;
  }
  /*--------------------------------------------*/
  .club-container {
    flex-direction: column; /* 세로 정렬 */
    gap: 2rem; /* 요소 간 간격 */
  }

  .club-title {
    order: 1; /* 제목 */
    text-align: center;
  }

  .club-image {
    order: 2; /* 이미지 */
    margin: 2rem 0; /* 위아래 간격 */
    justify-content: center;
  }

  .club-content {
    order: 3; /* 내용 */
    text-align: center;
    padding: 0 2rem; /* 좌우 여백 */
  }
}
