li {
  display: inline;
  padding: 0px 20px;
}

.header-main {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 109px;
  background-color: #ffffff;

  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.link {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.logo-link {
  color: dodgerblue;
}

.logo-link:hover {
  color: blue;
}

.navbar-link {
  font-size: x-large;
  color: black;
}

.navbar-link:hover {
  color: darkgrey;
}

.login-link {
  color: dodgerblue;
}

.login-link:hover {
  color: blue;
}
