li {
  display: inline;
  padding: 0rem 1.5rem;
}

.header-main {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;

  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}

.logo {
  /*  */
}

.link {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.navbar-link {
  font-size: x-large;
  color: #5d5d5d;
}

.navbar-link:hover {
  color: darkgrey;
}

.login {
  font-size: 1.5rem;
  background-color: #2cb4db;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
}
