* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  font-family: 'Pretendard SemiBold';
  border: none;
  background-color: #2cb4db;
  padding: 2.5rem 0rem;
}

.content {
  padding: 0rem 5rem;
}

.logo {
  padding-left: 0.4rem;
  img {
    width: 5rem;
  }
}

.description {
  display: flex;
  font-size: 1.5625rem;
  padding: 0.5rem 0rem 1rem 0rem;
  p {
    color: #bcedfb;
  }
  span {
    color: #ffffff;
    padding-left: 0.4rem;
  }
}
.cra206 {
  font-size: 1.25rem;
  color: #ffffff;
  padding-left: 0.4rem;
  margin-top: 1rem;
}

.icons {
  padding: 1rem 0rem;
  margin-left: 0.1rem;
  float: left;
}

.developer {
  text-align: end;
  font-size: 1.25rem;
  padding: 1.5rem 0rem;
  p {
    color: #ffffff;
  }
}
