.delete-button {
  cursor: pointer;
}

.item-container {
  display: flex;
}

.item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.comment-user {
  display: flex;
  gap: 14px;
}

.comment-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.comment-id {
  line-height: 34px;
  font-size: 20px;
  color: #5e5e5e;
  margin-bottom: 25px;
}

.comment-content {
  line-height: 20px;
  margin-bottom: 10px;
}

.comment-reply {
  cursor: pointer;
}

.comment-footer {
  display: flex;
  gap: 20px;
  color: #9e9e9e;
}
