/* Modal Content */
.modalContent {
  background-color: white;
  width: 340px;
  height: 250px;
  max-width: 1000px;
  max-height: 90vh;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 내용이 모달 밖으로 나오지 않도록 */
  align-items: center;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Header */
.modal-header {
  background-color: #d2f5ff;
  height: 40px; /* 최소 높이 지정 */
  width: 100%;
}

.close-button {
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  margin-left: 310px;
  margin-top: 10px;
}

.close-button:hover {
  color: #2cb4db;
}

/* Modal Body */
.modal-body {
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 20%;
  margin-bottom: 20%;
  font-family: 'Pretendard Medium';
  color: #050044;
  text-align: center;
}

.check-button {
  width: 60px;
  height: 35px;
  background-color: #2cb4db;
  font-family: 'Pretendard Medium';
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: none; /* 기본 border 제거 */
  cursor: pointer;
}

.check-button:hover {
  background-color: #a0e0f3;
  color: #2cb4db;
}
