.board-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 17px;
  margin-left: 17px;
}

.board-user-name {
  line-height: 34px;
  font-size: 16px;
  color: var(--color-dark-text);
}

.temp-link {
  width: 100%;
  display: block;
  text-decoration: none;
}

.board-title {
  line-height: 34px;
  font-size: 20px;
  text-decoration: none;
  color: var(--color-dark-text);
  margin-top: 5px;
}

.board-content {
  line-height: 32px;
  font-size: 15px;
  color: var(--color-dark-text);
}
